<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Contact Application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<h1 style="text-align: center">Add Entry</h1>

<form method="post" th:object="${entry}" th:action="@{/add}">
    <div class="form-group">
        <label for="" class="margin-l">Title:</label>
        <input type="text" class="form-control" th:field="*{title}" placeholder="Title">

    </div>
    <div class="form-group">
        <label for="" class="margin-l">Text:</label>
        <textarea class="form-control" th:field="*{text}" placeholder="Text" rows="4" style="resize: none"/>
    </div>
    <div class="form-group">
        <label for="" tclass="margin-l">ImageURL</label>
        <input type="text" class="form-control" th:field="*{imageUrl}" placeholder="ImageURL">
    </div>
    <button class="btn btn-danger btn-sm">Add</button>
    <a href="/" class="btn btn-primary btn-sm">Back</a>
</form>

</body>
</html>