<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:border-radius="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Contact Application</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
</head>
<body class="text-center">
<h1 style="text-align: center">Diary App</h1>
<a href="/add" class="btn btn-primary btn-sm">Add Entry</a>

<main role="main" class="inner cover">
    <div th:class="div-main" th:each="entry : ${entriesList}" style="margin: 20px 210px">
       <span><i><h4 class="cover-heading" th:text="${entry.title}"></h4></i></span>
        <p th:text="${entry.date}"></p>
        <img th:class="icon-image" th:src="${entry.imageUrl}" th:width="100px" th:height="100px" alt="">
        <p class="lead" th:text="${entry.text}" style="text-align: center">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        <a th:href="@{'/edit/' + ${entry.id}}" class="btn btn-success btn-sm">Edit</a>
        <a th:href="@{'/delete/' + ${entry.id}}" class="btn btn-danger btn-sm">Delete</a>
        <hr th:class="my-4" style="width: 18rem;" >
    </div>

</main>
</body>

</html>